.loading-screen .ant-spin {
  color: #1677ff;
}

.loading-screen .ant-spin-dot-item {
  background-color: #1677ff;
}

.loading-screen .ant-spin-description {
  color: #000000 !important;
  font-size: 15px;
  font-weight: 500;
}